<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katrina Wehr, Ph.D.</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ site.baseurl }}" class="logo">{{ site.custom_title }}</a>
            <ul class="nav-links">
                <li><a href="https://kat-wehr.github.io/katrinawehr/index.html">Home</a></li>
                <li><a href="https://kat-wehr.github.io/katrinawehr/portfolio.html">Portfolio</a></li>
                <li><a href="{{ site.baseurl }}">Blog</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <h2>{{ site.custom_title }}</h2>
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </footer>
</body>
</html>
